/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 35px;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

nav a:hover {
  color: rgb(0, 101, 252);
  border-top: 2px solid rgb(0, 101, 252);
  padding-top: 28px;
}

.section-title {
  margin: 0;
  font-size: 1.5em;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Header ***********/

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 30px;
}

nav a {
  margin-right: 40px;
}

.logo-small {
  height: 19px;
  width: 61.09px;
}

/****** Formulaire ***********/

.div-form-recherche {
  margin-top: 30px;
}

.formulaire-recherche {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3em;
}

.icon-location {
  padding: 8px 16px;
  background-color: #d9d9d9;
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  outline: none;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-location-dot {
  color: black;
}

input[type="text"] {
  height: 100%;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  border-right: none;
  border-left: none;
  box-sizing: border-box;
}

button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #0065fc;
  color: white;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
}

.fa-magnifying-glass {
  display: none;
}

.div-form-recherche input {
  padding: 10px;
}

/****** Filtres ***********/

.filtres-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  border: 2px solid #d9d9d9;
  background-color: white;
  cursor: pointer;
  border-radius: 36px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 1.1em;
  padding: 1% 2%;
  min-width: 100px;
  min-height: 40px;
}

.btn:hover {
  background-color: #deebff;
}

.btn > i {
  margin-right: 5px;
  color: #0065fc;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.fa-info {
  color: #0065fc;
}

.round {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 50%;
  width: 25px;
  min-width: 25px;
  height: 25px;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.rang1cards {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  gap: 20px;
}

.rang1cards a {
  width: 33.3%;
}

.rang1cards .card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
  height: 200px;
}

.hebergements-cards img {
  height: 55%;
  width: auto;
  border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
  height: 45%;
  width: auto;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.hebergements-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.hebergements-cards .card-rating {
  margin-bottom: 5px;
}

.afficher-plus {
  position: relative;
  top: 1.5rem;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activites ***********/

.activites-a-marseille {
  margin-bottom: 30px;
}

.activites-a-marseille .card-subtitle {
  height: 3em;
  padding-top: 0.8em;
}

.activites-a-marseille .section-title {
  margin-top: 40px;
  margin-bottom: 30px;
}

.activites-a-marseille .cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  gap: 15px;
}

.activites-a-marseille .card {
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
}

.activites-a-marseille .card img {
  height: 370px;
  max-width: 100%;
  vertical-align: middle;
  object-fit: cover;
}

.activites-a-marseille h3 {
  margin: 0;
  padding-left: 0.7em;
}

/****** Footer ***********/

footer {
  background-color: #f2f2f2;
}

.footer-container {
  display: flex;
}

ul[title]::before {
  content: attr(title);
  display: block;
  font-weight: bold;
  padding-bottom: 1em;
}

ul li {
  list-style-type: none;
  line-height: 2em;
}

.column {
  padding-right: 12em;
  padding-top: 1em;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

@media (max-width: 1024px) {
  /****** General tablet ***********/
  h1 {
    word-wrap: break-word;
  }

  /****** Tablet filtres ***********/

  .filtres-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }

  .filtres-wrapper > * {
    flex: 1 1 300px;
    margin: 5px;
  }

  .filtres-wrapper .section-title {
    order: 1;
    flex-basis: 100%;
    padding-bottom: 10px;
    margin-left: 10px;
    font-size: 1em;
  }

  .element1,
  .element2,
  .element3,
  .element4 {
    order: 2;
  }

  .btn {
    max-width: 23%;
    min-width: 110px;
    min-height: 40px;
  }

  /****** Tablet section hebergements and populaires ***********/

  .hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }
  /****** Tablet section hebergements ***********/

  .card-subtitle {
    font-size: 13px;
  }
  .hebergements {
    width: 100%;
  }

  .rang1cards .card {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
  }

  .hebergements-cards img {
    height: 55%;
    width: auto;
    border-radius: 20px 20px 0 0;
  }

  .hebergements-cards .card-content {
    height: 45%;
    width: auto;
    padding-left: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .hebergements-cards .card-subtitle {
    margin: 0;
  }

  .hebergements-cards .card-rating {
    margin-bottom: 5px;
  }

  .afficher-plus {
    position: relative;
    top: 1rem;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  /* .populaires-cards .card-subtitle {
    font-size: 13px;
  } */

  .activites-a-marseille .card img {
    height: 170px;
    max-width: 100%;
    vertical-align: middle;
    object-fit: cover;
  }

  /****** Footer ***********/

  .footer-container {
    justify-content: space-around;
  }

  .column {
    padding-right: 3em;
    padding-top: 1em;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /****** General ***********/

  .main-container {
    margin: 0;
    padding: 0;
  }

  .section-title {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  /****** Mobile nav ***********/

  h1 {
    font-size: 1.5em;
    padding: 20px 20px 0 20px;
  }

  .below-title {
    padding: 0px 20px 0 20px;
  }

  nav {
    flex-direction: column;
  }

  nav .logo-small {
    align-self: center;
    margin-bottom: 30px;
  }

  nav div {
    align-self: center;
    margin-bottom: -50px;
  }

  nav a:hover {
    border-top: none;
    color: rgb(0, 101, 252);
    border-bottom: 1px solid rgb(0, 101, 252);
    padding-bottom: 18px;
  }

  /****** Mobile searchbar ***********/

  .div-form-recherche {
    display: flex;
    justify-content: center;
  }

  .div-form-recherche button[type="submit"] {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 3.5em;
    box-shadow: rgb(16, 17, 17) 0px 10px 20px -10px;
  }

  .div-form-recherche button[type="submit"] .text {
    font-size: 0;
    line-height: 0;
  }

  .fa-magnifying-glass {
    display: block;
    color: white;
  }

  /****** Mobile filtres ***********/

  .filtres-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    justify-content: center;
  }

  .filtres-wrapper > * {
    flex: 1 1 300px;
    margin: 5px;
  }

  .filtres-wrapper .section-title {
    order: 1;
    flex-basis: 100%;
    padding-bottom: 10px;
    margin-left: 20px;
    font-size: 1em;
  }

  .element1,
  .element2 {
    order: 2;
  }

  .element3,
  .element4 {
    order: 3;
  }

  .btn {
    max-width: 45%;
    width: 160px;
    height: 50px;
  }

  .info {
    padding: 5px 20px 5px 20px;
  }

  /****** Mobile hebergements and populaires order ***********/

  .hebergements-and-populaires {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }

  .hebergements {
    order: 2;
    width: 100%;
  }

  .populaires {
    order: 1;
    width: 100%;
  }

  /****** Populaires***********/

  .hebergements-and-populaires .populaires {
    background-color: #f2f2f2;
    width: 100%;
    border-radius: 0;
  }

  .populaires-title {
    margin-top: 5px;
    margin-bottom: -20px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .populaires-cards a {
    width: 100%;
  }

  /****** Mobile hebergements ***********/

  .hebergements {
    margin: 20px 0 0 0;
    width: 100%;
  }

  .hebergements .section-title {
    margin-bottom: -10px;
  }

  .hebergements-and-populaires section {
    background-color: white;
  }

  .rang1cards {
    flex-direction: column;
    align-items: center;
  }

  .rang1cards a {
    width: 100%;
    height: 200px;
  }

  .afficher-plus {
    position: relative;
    top: 30px;
    left: 20 px;
  }

  /****** Mobile activites ***********/

  .activites-a-marseille {
    padding: 10px;
    width: 100%;
  }

  .activites-a-marseille .cards-container {
    grid-template-columns: 1fr;
  }

  .activites-a-marseille .cards-item {
    width: 100%;
    height: 300px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activites-a-marseille .card img {
    height: 200px;
    border-radius: 10px;
  }

  .activites-a-marseille .section-title {
    margin-left: 10px;
  }

  .activites-a-marseille .card-subtitle {
    text-align: left;
    height: 2em;
  }

  /****** Mobile activites ***********/

  .footer-container {
    flex-direction: column;
  }
}
